---
import Global from "@layouts/Global.astro";
import README from "../../README.md";
import PostList from "@components/PostList.astro";
---

<Global>
  <README />
  <h2>Writing</h2>
  <PostList />
</Global>
