* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    line-height: 20px;

    width: 620px;
    margin: 40px;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.1em;
}

p {
    margin: 1em 0;
    padding: 0;
}

a {
    color: #0b348c;
    text-decoration: none;
}

a:hover {
    color: #0b34cc;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vcard {
    margin-bottom: 2em;
}

.vcard .contact {
    text-align: right;
    font-size: 0.9em;
    line-height: 1.5em;
    float: right;
}

.clearfix {
    clear: both;
}

.summary {
    margin-bottom: 2em;
    clear: both;
    text-align: justify;
}
