---
import { getCollection } from "astro:content";
import Link from "@components/Link.astro";

interface Props {
  class?: string;
}
const { class: className, ...rest } = Astro.props;

const posts = await getCollection("posts");
// sort by pubDate descending
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<ul class={className} {...rest}>
  {
    posts.map(({ data: { title }, slug }) => (
      <li>
        <Link href={`/writing/${slug}`}>{title}</Link>
      </li>
    ))
  }
</ul>
